{%extends 'base.html'%}
{%block content%}
<div class="container about">
    <div class="row">
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">My project!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="block rounded p-4">This is my Pet Project to get job.
                <br>Read about it on this page!
                <br>Information about me <a class="hyperlink" href="/author">here</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">Flask</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <p class="block rounded p-4">Base of this project is micro python web framework Flask!
                <br>The choice of the Flask framework for the project was due to its simplicity, performance, flexibility,
                scalability, community and open source. Flask is ideal for beginners and small projects, supports various
                databases and can be easily scaled. Additionally, Flask has an active community and is distributed under the BSD license.</p>
        </div>
    </div>
        <div class="row">
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">Flask-login</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="block rounded p-4">Flask-Login is an extension for the Flask framework that allows users to log in, register, and manage
                sessions. It provides a set of tools for handling authentication and authorization, as well as for managing user sessions.
                Flask-Login uses decorators and APIs to simplify the login and registration process for users, and to ensure data security.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">PostgeSQL</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <p class="block rounded p-4">PostgreSQL is an open source object-relational database management system. It was developed in the
                1980s at the University of Berkeley, California. PostgreSQL is one of the most popular database management solutions in the world.</p>
        </div>
    </div>
        <div class="row">
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">MongoDB</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="block rounded p-4">MongoDB is a document-oriented database management system that was developed by 10gen (now MongoDB Inc.).
                MongoDB uses JSON-like documents and provides various indexing mechanisms to quickly search and sort data. It also supports various
                data types, including arrays, strings, numbers, and dates. MongoDB is one of the most popular solutions for building scalable and
                high-performance applications.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">Redis</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <p class="block rounded p-4">Redis is a high-performance, open-source key-value store used for caching, message queuing, and data storage.
                Redis is highly performant and supports various types of data such as strings, lists, sets, and hashes. It also has many features such
                as transactions, replication and locks. Redis is widely used in web development and applications to improve performance and scalability.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">Celery</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="block rounded p-4">
                Celery is a task and message queue manager written in Python. It is used to execute tasks asynchronously and manage message queues. Celery allows you to run
                tasks in the background and handle large numbers of requests without slowing down your application. It also provides tools for managing tasks
                such as scheduling, retrying, and rate limiting. Celery is used in many projects to improve application scalability and performance.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">Docker</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <p class="block rounded p-4">Docker is a platform for automating the deployment, running and management of applications in environments with
                different operating systems and architectures. It allows you to create containers containing all the necessary components for the application
                to run and deploy them on various servers. Docker also provides tools for managing containers, such as creating, starting, stopping, and deleting
                them. Docker is used to simplify the deployment and scaling of applications, as well as to ensure their portability across different platforms.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">Docker-compose</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="block rounded p-4">Docker Compose is a tool for defining and running multi-container applications based on Docker. It allows you to
                define your application's configuration in a single file, which can be used to build, run, and stop your application. Docker Compose works
                at the Docker API level and uses YAML format to define the configuration of your application.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">Gunicorn</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <p class="block rounded p-4">Gunicorn is a WSGI server written in Python. It is designed for fast and powerful deployment of Python-based
                applications. Gunicorn supports multiple protocols, including HTTP, HTTPS, and UNIX sockets, and can run on multiple CPU cores for improved
                performance. It also supports asynchronous I/O for even better performance.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="p-2 block rounded text-center">Nginx</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="block rounded p-4">Nginx is an open source web server and reverse proxy written by Igor Sysoev. It is used as a reverse proxy
                for load balancing and content caching, and as an HTTP server for serving static content. Nginx can also be used as an email proxy and
                load balancer for email delivery.</p>
        </div>
    </div>

</div>
{%endblock%}